canvas{
    background: black;
}

body{
    background-image: url(./assets/img/epl_background.jpg);
    width: 100%;
    object-fit: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: "Chimichanga";
    color: #a0220a;
}